# Data Exploration Notebook

### Import necessary libraries

In [263]:
import pandas as pd

In [264]:
# Load the dataset
Elbonie_path = '../data/BMS dataset/INNOVIX_Elbonie.xlsx'
Floresland_path = '../data/BMS dataset/INNOVIX_Floresland.xlsx'
Zegoland_path = '../data/BMS dataset/INNOVIX_Elbonie.xlsx'

### Ex-factory volumes

In [265]:
exf_elbonie = pd.read_excel(Elbonie_path, sheet_name='Ex-factory volumes')
exf_floresland = pd.read_excel(Floresland_path, sheet_name='Ex-Factory volumes')
exf_zegoland = pd.read_excel(Zegoland_path, sheet_name='Ex-factory volumes')

In [266]:
print("Elbonie columns:",exf_elbonie.columns)
print("Floresland columns:",exf_floresland.columns)
print("Zegoland columns:",exf_zegoland.columns)

Elbonie columns: Index(['Country', 'Product', 'Data type', 'Unit of measure', 'Date', 'Value'], dtype='object')
Floresland columns: Index(['Country', 'Product', 'Data type', 'Unit of measure', 'Date', 'Value'], dtype='object')
Zegoland columns: Index(['Country', 'Product', 'Data type', 'Unit of measure', 'Date', 'Value'], dtype='object')

In [267]:
print("Elbonie info:",exf_elbonie.info())
print("Floresland info:",exf_floresland.info())
print("Zegoland info:",exf_zegoland.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          82 non-null     object
 1   Product          82 non-null     object
 2   Data type        82 non-null     object
 3   Unit of measure  82 non-null     object
 4   Date             82 non-null     datetime64[ns]
 5   Value            82 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 4.0+ KB
Elbonie info: None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          82 non-null     object
 1   Product          82 non-null     object
 2   Data type        82 non-null     object
 3   Unit of measure  82 non-null     object
 4   Date             82 non-null     datetime64[ns]
 5   Value            82 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 4.0+ KB
Floresland info: None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          82 non-null     object
 1   Product          82 non-null     object
 2   Data type        82 non-null     object
 3   Unit of measure  82 non-null     object
 4   Date             82 non-null     datetime64[ns]
 5   Value            82 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 4.0+ KB
Zegoland info: None

In [268]:
print("Elbonie head:",exf_elbonie.head())
print("Floresland head:",exf_floresland.head())
print("Zegoland head:",exf_zegoland.head())

Elbonie head:    Country  Product           Data type Unit of measure       Date    Value
0  ELBONIE  INNOVIX  Ex-factory volumes      Milligrams 2018-01-01  2415700
1  ELBONIE  INNOVIX  Ex-factory volumes      Milligrams 2018-02-01  2546680
2  ELBONIE  INNOVIX  Ex-factory volumes      Milligrams 2018-03-01  2692040
3  ELBONIE  INNOVIX  Ex-factory volumes      Milligrams 2018-04-01  3064760
4  ELBONIE  INNOVIX  Ex-factory volumes      Milligrams 2018-05-01  2862080
Floresland head:       Country  Product           Data type Unit of measure       Date    Value
0  Floresland  INNOVIX  Ex-factory volumes      Milligrams 2018-01-01  3503180
1  Floresland  INNOVIX  Ex-factory volumes      Milligrams 2018-02-01  2611020
2  Floresland  INNOVIX  Ex-factory volumes      Milligrams 2018-03-01  2952120
3  Floresland  INNOVIX  Ex-factory volumes      Milligrams 2018-04-01  2995280
4  Floresland  INNOVIX  Ex-factory volumes      Milligrams 2018-05-01  2929660
Zegoland head:    Country  Product           Data type Unit of measure       Date    Value
0  ELBONIE  INNOVIX  Ex-factory volumes      Milligrams 2018-01-01  2415700
1  ELBONIE  INNOVIX  Ex-factory volumes      Milligrams 2018-02-01  2546680
2  ELBONIE  INNOVIX  Ex-factory volumes      Milligrams 2018-03-01  2692040
3  ELBONIE  INNOVIX  Ex-factory volumes      Milligrams 2018-04-01  3064760
4  ELBONIE  INNOVIX  Ex-factory volumes      Milligrams 2018-05-01  2862080

# INNOVIX FLoresland

## Ex-Factory Volumes

In [269]:
df_exfactor = exf_floresland

print(df_exfactor.head())

      Country  Product           Data type Unit of measure       Date    Value
0  Floresland  INNOVIX  Ex-factory volumes      Milligrams 2018-01-01  3503180
1  Floresland  INNOVIX  Ex-factory volumes      Milligrams 2018-02-01  2611020
2  Floresland  INNOVIX  Ex-factory volumes      Milligrams 2018-03-01  2952120
3  Floresland  INNOVIX  Ex-factory volumes      Milligrams 2018-04-01  2995280
4  Floresland  INNOVIX  Ex-factory volumes      Milligrams 2018-05-01  2929660

In [270]:
df_exfactor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          82 non-null     object
 1   Product          82 non-null     object
 2   Data type        82 non-null     object
 3   Unit of measure  82 non-null     object
 4   Date             82 non-null     datetime64[ns]
 5   Value            82 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 4.0+ KB

In [271]:
df_exfactor.isna().sum()

Country            0
Product            0
Data type          0
Unit of measure    0
Date               0
Value              0
dtype: int64

## Demand Volumes

In [272]:
df_demand= pd.read_excel(Floresland_path, sheet_name='Demand volumes')
df_demand.columns

Index(['Country', 'Product', 'Data type', 'Unit of measure', 'Date', 'Value'], dtype='object')

In [273]:
df_demand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          146 non-null    object
 1   Product          146 non-null    object
 2   Data type        146 non-null    object
 3   Unit of measure  146 non-null    object
 4   Date             146 non-null    datetime64[ns]
 5   Value            146 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 7.0+ KB

In [274]:
df_demand.isna().sum()

Country            0
Product            0
Data type          0
Unit of measure    0
Date               0
Value              0
dtype: int64

In [275]:
df_demand.head(5)

,Country,Product,Data type,Unit of measure,Date,Value
0,Floresland,INNOVIX,Demand volumes,Milligrams,2022-07-01,3.488909e+06
1,Floresland,INNOVIX,Demand volumes,Milligrams,2022-08-01,4.227398e+06
2,Floresland,INNOVIX,Demand volumes,Milligrams,2022-09-01,3.282558e+06
3,Floresland,INNOVIX,Demand volumes,Milligrams,2022-10-01,3.826548e+06
4,Floresland,INNOVIX,Demand volumes,Milligrams,2022-11-01,3.381186e+06

In [276]:
df_demand_by_measure = df_demand[df_demand['Unit of measure'] == 'Milligrams']
df_demand_by_measure.head(5)

,Country,Product,Data type,Unit of measure,Date,Value
0,Floresland,INNOVIX,Demand volumes,Milligrams,2022-07-01,3.488909e+06
1,Floresland,INNOVIX,Demand volumes,Milligrams,2022-08-01,4.227398e+06
2,Floresland,INNOVIX,Demand volumes,Milligrams,2022-09-01,3.282558e+06
3,Floresland,INNOVIX,Demand volumes,Milligrams,2022-10-01,3.826548e+06
4,Floresland,INNOVIX,Demand volumes,Milligrams,2022-11-01,3.381186e+06

In [277]:
df_demand_by_month_treatment = df_demand[df_demand['Unit of measure'] == 'Month of treatment']
df_demand_by_month_treatment.head(5)

,Country,Product,Data type,Unit of measure,Date,Value
25,Floresland,INNOVIX,Demand volumes,Month of treatment,2020-08-01,7135.4428
26,Floresland,INNOVIX,Demand volumes,Month of treatment,2020-09-01,7825.0070
27,Floresland,INNOVIX,Demand volumes,Month of treatment,2020-10-01,8191.0239
28,Floresland,INNOVIX,Demand volumes,Month of treatment,2020-11-01,7232.5730
29,Floresland,INNOVIX,Demand volumes,Month of treatment,2020-12-01,7152.7927

In [278]:
# df_dmeasure_Innovix = df_demand_by_measure[df_demand_by_measure['Product'] == 'INNOVIX']
# df_dmeasure_Yrex = df_demand_by_measure[df_demand_by_measure['Product'] == 'Yrex']
df_dmonth_treatment_Innovix = df_demand_by_month_treatment[df_demand_by_month_treatment['Product'] == 'INNOVIX']
df_dmonth_treatment_Yrex = df_demand_by_month_treatment[df_demand_by_month_treatment['Product'] == 'YREX']

In [279]:
df_dmonth_treatment_Innovix.drop(columns=['Data type', 'Unit of measure'], inplace=True)
columns_to_drop = ['Country', 'Product', 'Data type', 'Unit of measure']
# df_dmeasure_Innovix.drop(columns=columns_to_drop, inplace=True)
# df_dmeasure_Yrex.drop(columns=columns_to_drop, inplace=True)
df_dmonth_treatment_Yrex .drop(columns=columns_to_drop, inplace=True)

C:\Users\Usuari\AppData\Local\Temp\ipykernel_10088\3990987075.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dmonth_treatment_Innovix.drop(columns=['Data type', 'Unit of measure'], inplace=True)
C:\Users\Usuari\AppData\Local\Temp\ipykernel_10088\3990987075.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dmonth_treatment_Yrex .drop(columns=columns_to_drop, inplace=True)

In [280]:
# print("df_dmeasure_Innovix:",df_dmeasure_Innovix.columns)
# print("df_dmeasure_Yrex",df_dmeasure_Yrex.columns)
print("df_dmonth_treatment_Innovix",df_dmonth_treatment_Innovix.columns)
print("df_dmonth_treatment_Yrex",df_dmonth_treatment_Yrex.columns)

df_dmonth_treatment_Innovix Index(['Country', 'Product', 'Date', 'Value'], dtype='object')
df_dmonth_treatment_Yrex Index(['Date', 'Value'], dtype='object')

In [281]:
# df_dmeasure_Innovix = df_dmeasure_Innovix.rename(columns={
#     'Value': 'Innovix_measure_value'
# })

# df_dmeasure_Yrex = df_dmeasure_Yrex.rename(columns={
#     'Value': 'Yrex_measure_value'
# })

df_dmonth_treatment_Innovix = df_dmonth_treatment_Innovix.rename(columns={
    'Value': 'MonthlyTreatment'
})

df_dmonth_treatment_Yrex = df_dmonth_treatment_Yrex.rename(columns={
    'Value': 'YrexMonthlyTreatment'
})

In [282]:
# print("df_dmeasure_Innovix:",df_dmeasure_Innovix.columns)
# print("df_dmeasure_Yrex",df_dmeasure_Yrex.columns)
print("df_dmonth_treatment_Innovix",df_dmonth_treatment_Innovix.columns)
print("df_dmonth_treatment_Yrex",df_dmonth_treatment_Yrex.columns)

df_dmonth_treatment_Innovix Index(['Country', 'Product', 'Date', 'MonthlyTreatment'], dtype='object')
df_dmonth_treatment_Yrex Index(['Date', 'YrexMonthlyTreatment'], dtype='object')

In [283]:
print(df_dmonth_treatment_Innovix.head(5))
print(df_dmonth_treatment_Yrex.head(5))

       Country  Product       Date  MonthlyTreatment
25  Floresland  INNOVIX 2020-08-01         7135.4428
26  Floresland  INNOVIX 2020-09-01         7825.0070
27  Floresland  INNOVIX 2020-10-01         8191.0239
28  Floresland  INNOVIX 2020-11-01         7232.5730
29  Floresland  INNOVIX 2020-12-01         7152.7927
          Date  YrexMonthlyTreatment
98  2020-08-01             8755.6500
99  2020-09-01             9645.6619
100 2020-10-01            11365.3433
101 2020-11-01            10154.6358
102 2020-12-01            10652.5738

In [284]:
df_final_demand = df_dmonth_treatment_Innovix.merge(right=df_dmonth_treatment_Yrex, on='Date')

In [285]:
df_final_demand.head(10)

      Country  Product       Date  MonthlyTreatment  YrexMonthlyTreatment
0  Floresland  INNOVIX 2020-08-01         7135.4428             8755.6500
1  Floresland  INNOVIX 2020-09-01         7825.0070             9645.6619
2  Floresland  INNOVIX 2020-10-01         8191.0239            11365.3433
3  Floresland  INNOVIX 2020-11-01         7232.5730            10154.6358
4  Floresland  INNOVIX 2020-12-01         7152.7927            10652.5738
5  Floresland  INNOVIX 2021-01-01         8835.9182            12404.6696
6  Floresland  INNOVIX 2021-02-01         6574.1432            10952.5781
7  Floresland  INNOVIX 2021-03-01         8410.0409            12962.2640
8  Floresland  INNOVIX 2021-04-01         7323.1211            13179.1638
9  Floresland  INNOVIX 2021-05-01         7395.9758            12206.0452

In [286]:
print(df_exfactor.head())

      Country  Product           Data type Unit of measure       Date    Value
0  Floresland  INNOVIX  Ex-factory volumes      Milligrams 2018-01-01  3503180
1  Floresland  INNOVIX  Ex-factory volumes      Milligrams 2018-02-01  2611020
2  Floresland  INNOVIX  Ex-factory volumes      Milligrams 2018-03-01  2952120
3  Floresland  INNOVIX  Ex-factory volumes      Milligrams 2018-04-01  2995280
4  Floresland  INNOVIX  Ex-factory volumes      Milligrams 2018-05-01  2929660

In [287]:
columns_to_drop = ['Country', 'Product', 'Data type', 'Unit of measure']
# df_dmeasure_Innovix.drop(columns=columns_to_drop, inplace=True)
# df_dmeasure_Yrex.drop(columns=columns_to_drop, inplace=True)
df_exfactor .drop(columns=columns_to_drop, inplace=True)

In [288]:
df_demand_exfactor= df_final_demand.merge(right=df_exfactor, on='Date', how='left')

In [289]:
df_demand_exfactor.head(10)

,Country,Product,Date,MonthlyTreatment,YrexMonthlyTreatment,Value
0,Floresland,INNOVIX,2020-08-01,7135.4428,8755.6500,3657300
1,Floresland,INNOVIX,2020-09-01,7825.0070,9645.6619,3970760
2,Floresland,INNOVIX,2020-10-01,8191.0239,11365.3433,4102640
3,Floresland,INNOVIX,2020-11-01,7232.5730,10154.6358,3661520
4,Floresland,INNOVIX,2020-12-01,7152.7927,10652.5738,3601940
5,Floresland,INNOVIX,2021-01-01,8835.9182,12404.6696,4452420
6,Floresland,INNOVIX,2021-02-01,6574.1432,10952.5781,3362140
7,Floresland,INNOVIX,2021-03-01,8410.0409,12962.2640,4280840
8,Floresland,INNOVIX,2021-04-01,7323.1211,13179.1638,3778260
9,Floresland,INNOVIX,2021-05-01,7395.9758,12206.0452,3836240

In [290]:
df_share = pd.read_excel(Floresland_path, sheet_name='Share of Voice')
df_share.head(10)

      Country       Data type  Product    Indication       Date     Value
0  Floresland  Share of Voice  INNOVIX  Indication 1 2020-01-01  0.086294
1  Floresland  Share of Voice  INNOVIX  Indication 1 2020-02-01  0.000000
2  Floresland  Share of Voice  INNOVIX  Indication 1 2020-05-01  0.000000
3  Floresland  Share of Voice  INNOVIX  Indication 1 2020-06-01  0.000000
4  Floresland  Share of Voice  INNOVIX  Indication 1 2020-07-01  0.000000
5  Floresland  Share of Voice  INNOVIX  Indication 1 2020-08-01  0.000000
6  Floresland  Share of Voice  INNOVIX  Indication 1 2020-09-01  0.000000
7  Floresland  Share of Voice  INNOVIX  Indication 1 2020-10-01  0.000000
8  Floresland  Share of Voice  INNOVIX  Indication 1 2020-11-01  0.000000
9  Floresland  Share of Voice  INNOVIX  Indication 1 2020-12-01  0.000000

In [291]:
df_share.drop(columns=['Data type'], inplace=True)
df_share_innovix = df_share[df_share['Product'] == 'INNOVIX']
df_share_yrex = df_share[df_share['Product'] == 'YREX']

In [292]:
df_share_innovix.drop(columns=['Product'], inplace=True)
df_share_yrex .drop(columns=['Country', 'Product'], inplace=True)

C:\Users\Usuari\AppData\Local\Temp\ipykernel_10088\2140851543.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_share_innovix.drop(columns=['Product'], inplace=True)
C:\Users\Usuari\AppData\Local\Temp\ipykernel_10088\2140851543.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_share_yrex .drop(columns=['Country', 'Product'], inplace=True)

In [293]:
df_share_innovix = df_share_innovix.rename(columns={
    'Value': 'Share'
})

df_share_yrex = df_share_yrex.rename(columns={
    'Value': 'YrexShare'
})

In [294]:
df_final_share = df_share_innovix.merge(right=df_share_yrex, on=['Date', 'Indication'])

In [295]:
df_final_share.head(10)

      Country    Indication       Date     Share  YrexShare
0  Floresland  Indication 1 2020-01-01  0.086294   0.913706
1  Floresland  Indication 1 2020-02-01  0.000000   1.000000
2  Floresland  Indication 1 2020-05-01  0.000000   1.000000
3  Floresland  Indication 1 2020-06-01  0.000000   1.000000
4  Floresland  Indication 1 2020-07-01  0.000000   1.000000
5  Floresland  Indication 1 2020-08-01  0.000000   0.708763
6  Floresland  Indication 1 2020-09-01  0.000000   1.000000
7  Floresland  Indication 1 2020-10-01  0.000000   1.000000
8  Floresland  Indication 1 2020-11-01  0.000000   0.572519
9  Floresland  Indication 1 2020-12-01  0.000000   0.511111

In [296]:
df_final_share.drop(columns=['Country'], inplace=True)

In [297]:
df_demand_exfactor_shares = df_demand_exfactor.merge(right=df_final_share, on='Date')

In [298]:
df_demand_exfactor_shares.head(10)

,Country,Product,Date,MonthlyTreatment,YrexMonthlyTreatment,Value,Indication,Share,YrexShare
0,Floresland,INNOVIX,2020-08-01,7135.4428,8755.6500,3657300,Indication 1,0.000000,0.708763
1,Floresland,INNOVIX,2020-08-01,7135.4428,8755.6500,3657300,Indication 12,0.413163,0.000000
2,Floresland,INNOVIX,2020-08-01,7135.4428,8755.6500,3657300,Indication 2,0.563107,0.145631
3,Floresland,INNOVIX,2020-08-01,7135.4428,8755.6500,3657300,Indication 19,0.111969,0.108986
4,Floresland,INNOVIX,2020-08-01,7135.4428,8755.6500,3657300,Indication 23,0.203883,0.108738
5,Floresland,INNOVIX,2020-09-01,7825.0070,9645.6619,3970760,Indication 1,0.000000,1.000000
6,Floresland,INNOVIX,2020-09-01,7825.0070,9645.6619,3970760,Indication 10,0.000000,0.500000
7,Floresland,INNOVIX,2020-09-01,7825.0070,9645.6619,3970760,Indication 12,0.245211,0.000000
8,Floresland,INNOVIX,2020-09-01,7825.0070,9645.6619,3970760,Indication 2,0.239336,0.234597
9,Floresland,INNOVIX,2020-09-01,7825.0070,9645.6619,3970760,Indication 19,0.163346,0.146103