# Data Exploration Notebook

### Import necessary libraries

In [34]:
import pandas as pd

In [35]:
# Load the dataset
Elbonie_path = '../data/BMS dataset/INNOVIX_Elbonie.xlsx'
Floresland_path = '../data/BMS dataset/INNOVIX_Floresland.xlsx'
Zegoland_path = '../data/BMS dataset/INNOVIX_Elbonie.xlsx'

### Ex-factory volumes

In [36]:
elbonie_exfactor = pd.read_excel(Elbonie_path, sheet_name='Ex-factory volumes')
foresland_exfactor = pd.read_excel(Floresland_path, sheet_name='Ex-Factory volumes')

In [37]:
print("Elbonie info:",elbonie_exfactor.info())
print("Floresland info:",foresland_exfactor.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          82 non-null     object
 1   Product          82 non-null     object
 2   Data type        82 non-null     object
 3   Unit of measure  82 non-null     object
 4   Date             82 non-null     datetime64[ns]
 5   Value            82 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 4.0+ KB
Elbonie info: None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          82 non-null     object
 1   Product          82 non-null     object
 2   Data type        82 non-null     object
 3   Unit of measure  82 non-null     object
 4   Date             82 non-null     datetime64[ns]
 5   Value            82 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 4.0+ KB
Floresland info: None

In [38]:
print("Elbonie head:",elbonie_exfactor.head())
print("Floresland head:",foresland_exfactor.head())

Elbonie head:    Country  Product           Data type Unit of measure       Date    Value
0  ELBONIE  INNOVIX  Ex-factory volumes      Milligrams 2018-01-01  2415700
1  ELBONIE  INNOVIX  Ex-factory volumes      Milligrams 2018-02-01  2546680
2  ELBONIE  INNOVIX  Ex-factory volumes      Milligrams 2018-03-01  2692040
3  ELBONIE  INNOVIX  Ex-factory volumes      Milligrams 2018-04-01  3064760
4  ELBONIE  INNOVIX  Ex-factory volumes      Milligrams 2018-05-01  2862080
Floresland head:       Country  Product           Data type Unit of measure       Date    Value
0  Floresland  INNOVIX  Ex-factory volumes      Milligrams 2018-01-01  3503180
1  Floresland  INNOVIX  Ex-factory volumes      Milligrams 2018-02-01  2611020
2  Floresland  INNOVIX  Ex-factory volumes      Milligrams 2018-03-01  2952120
3  Floresland  INNOVIX  Ex-factory volumes      Milligrams 2018-04-01  2995280
4  Floresland  INNOVIX  Ex-factory volumes      Milligrams 2018-05-01  2929660

# INNOVIX FLoresland

## Demand Volumes

In [39]:
foresland_demand= pd.read_excel(Floresland_path, sheet_name='Demand volumes')
foresland_demand.columns

Index(['Country', 'Product', 'Data type', 'Unit of measure', 'Date', 'Value'], dtype='object')

In [40]:
foresland_demand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          146 non-null    object
 1   Product          146 non-null    object
 2   Data type        146 non-null    object
 3   Unit of measure  146 non-null    object
 4   Date             146 non-null    datetime64[ns]
 5   Value            146 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 7.0+ KB

In [41]:
foresland_demand.isna().sum()

Country            0
Product            0
Data type          0
Unit of measure    0
Date               0
Value              0
dtype: int64

In [42]:
foresland_demand.head(5)

,Country,Product,Data type,Unit of measure,Date,Value
0,Floresland,INNOVIX,Demand volumes,Milligrams,2022-07-01,3.488909e+06
1,Floresland,INNOVIX,Demand volumes,Milligrams,2022-08-01,4.227398e+06
2,Floresland,INNOVIX,Demand volumes,Milligrams,2022-09-01,3.282558e+06
3,Floresland,INNOVIX,Demand volumes,Milligrams,2022-10-01,3.826548e+06
4,Floresland,INNOVIX,Demand volumes,Milligrams,2022-11-01,3.381186e+06

In [43]:
foresland_demand_by_measure = foresland_demand[foresland_demand['Unit of measure'] == 'Milligrams']
foresland_demand_by_measure.head(5)

,Country,Product,Data type,Unit of measure,Date,Value
0,Floresland,INNOVIX,Demand volumes,Milligrams,2022-07-01,3.488909e+06
1,Floresland,INNOVIX,Demand volumes,Milligrams,2022-08-01,4.227398e+06
2,Floresland,INNOVIX,Demand volumes,Milligrams,2022-09-01,3.282558e+06
3,Floresland,INNOVIX,Demand volumes,Milligrams,2022-10-01,3.826548e+06
4,Floresland,INNOVIX,Demand volumes,Milligrams,2022-11-01,3.381186e+06

In [44]:
foresland_demand_by_month_treatment = foresland_demand[foresland_demand['Unit of measure'] == 'Month of treatment']
foresland_demand_by_month_treatment.head(5)

,Country,Product,Data type,Unit of measure,Date,Value
25,Floresland,INNOVIX,Demand volumes,Month of treatment,2020-08-01,7135.4428
26,Floresland,INNOVIX,Demand volumes,Month of treatment,2020-09-01,7825.0070
27,Floresland,INNOVIX,Demand volumes,Month of treatment,2020-10-01,8191.0239
28,Floresland,INNOVIX,Demand volumes,Month of treatment,2020-11-01,7232.5730
29,Floresland,INNOVIX,Demand volumes,Month of treatment,2020-12-01,7152.7927

In [45]:
foresland_dmonth_treatment_Innovix = foresland_demand_by_month_treatment[foresland_demand_by_month_treatment['Product'] == 'INNOVIX']
foresland_dmonth_treatment_Yrex = foresland_demand_by_month_treatment[foresland_demand_by_month_treatment['Product'] == 'YREX']

In [46]:
foresland_dmonth_treatment_Innovix.drop(columns=['Data type', 'Unit of measure'], inplace=True)
columns_to_drop = ['Country', 'Product', 'Data type', 'Unit of measure']
foresland_dmonth_treatment_Yrex .drop(columns=columns_to_drop, inplace=True)

C:\Users\Bruno\AppData\Local\Temp\ipykernel_3704\590114277.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  foresland_dmonth_treatment_Innovix.drop(columns=['Data type', 'Unit of measure'], inplace=True)
C:\Users\Bruno\AppData\Local\Temp\ipykernel_3704\590114277.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  foresland_dmonth_treatment_Yrex .drop(columns=columns_to_drop, inplace=True)

In [47]:
foresland_dmonth_treatment_Innovix = foresland_dmonth_treatment_Innovix.rename(columns={
    'Value': 'MonthlyTreatment'
})

foresland_dmonth_treatment_Yrex = foresland_dmonth_treatment_Yrex.rename(columns={
    'Value': 'YrexMonthlyTreatment'
})

In [48]:
foresland_final_demand = foresland_dmonth_treatment_Innovix.merge(right=foresland_dmonth_treatment_Yrex, on='Date')

In [49]:
foresland_final_demand.head(10)

      Country  Product       Date  MonthlyTreatment  YrexMonthlyTreatment
0  Floresland  INNOVIX 2020-08-01         7135.4428             8755.6500
1  Floresland  INNOVIX 2020-09-01         7825.0070             9645.6619
2  Floresland  INNOVIX 2020-10-01         8191.0239            11365.3433
3  Floresland  INNOVIX 2020-11-01         7232.5730            10154.6358
4  Floresland  INNOVIX 2020-12-01         7152.7927            10652.5738
5  Floresland  INNOVIX 2021-01-01         8835.9182            12404.6696
6  Floresland  INNOVIX 2021-02-01         6574.1432            10952.5781
7  Floresland  INNOVIX 2021-03-01         8410.0409            12962.2640
8  Floresland  INNOVIX 2021-04-01         7323.1211            13179.1638
9  Floresland  INNOVIX 2021-05-01         7395.9758            12206.0452

In [50]:
columns_to_drop = ['Country', 'Product', 'Data type', 'Unit of measure']
foresland_exfactor .drop(columns=columns_to_drop, inplace=True)

In [51]:
foresland_demand_exfactor= foresland_final_demand.merge(right=foresland_exfactor, on='Date', how='left')

In [52]:
foresland_demand_exfactor.head(10)

,Country,Product,Date,MonthlyTreatment,YrexMonthlyTreatment,Value
0,Floresland,INNOVIX,2020-08-01,7135.4428,8755.6500,3657300
1,Floresland,INNOVIX,2020-09-01,7825.0070,9645.6619,3970760
2,Floresland,INNOVIX,2020-10-01,8191.0239,11365.3433,4102640
3,Floresland,INNOVIX,2020-11-01,7232.5730,10154.6358,3661520
4,Floresland,INNOVIX,2020-12-01,7152.7927,10652.5738,3601940
5,Floresland,INNOVIX,2021-01-01,8835.9182,12404.6696,4452420
6,Floresland,INNOVIX,2021-02-01,6574.1432,10952.5781,3362140
7,Floresland,INNOVIX,2021-03-01,8410.0409,12962.2640,4280840
8,Floresland,INNOVIX,2021-04-01,7323.1211,13179.1638,3778260
9,Floresland,INNOVIX,2021-05-01,7395.9758,12206.0452,3836240

In [53]:
foresland_indication = pd.read_excel(Floresland_path, sheet_name='Indication split')
foresland_indication.head()

,Country,Product,Data type,Indication,Sub-Indication,Date,Value
0,Floresland,INNOVIX,Indication split,Indication 20,Indication 20,2020-01-01,0.039196
1,Floresland,INNOVIX,Indication split,Indication 20,Indication 20,2020-02-01,0.029073
2,Floresland,INNOVIX,Indication split,Indication 20,Indication 20,2020-03-01,0.046117
3,Floresland,INNOVIX,Indication split,Indication 20,Indication 20,2020-04-01,0.030099
4,Floresland,INNOVIX,Indication split,Indication 20,Indication 20,2020-05-01,0.038101

In [54]:
foresland_ind_innovix = foresland_indication[foresland_indication['Product'] == 'INNOVIX']
foresland_ind_yrex = foresland_indication[foresland_indication['Product'] == 'YREX']
foresland_ind_yrex.drop(columns=['Product'], inplace=True)

C:\Users\Bruno\AppData\Local\Temp\ipykernel_3704\1658639198.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  foresland_ind_yrex.drop(columns=['Product'], inplace=True)

In [55]:
foresland_ind_yrex.head()

,Country,Data type,Indication,Sub-Indication,Date,Value
605,Floresland,Indication split,Indication 20,Indication 20,2020-01-01,0.017272
606,Floresland,Indication split,Indication 20,Indication 20,2020-02-01,0.024311
607,Floresland,Indication split,Indication 20,Indication 20,2020-03-01,0.026775
608,Floresland,Indication split,Indication 20,Indication 20,2020-04-01,0.014286
609,Floresland,Indication split,Indication 20,Indication 20,2020-05-01,0.034734

In [56]:
foresland_final_indications = foresland_ind_innovix.merge(on=['Country','Data type','Date', 'Indication', 'Sub-Indication'], right = foresland_ind_yrex, how='left')

In [57]:
# foresland_cleaned_indications = foresland_final_indications[~(((foresland_final_indications['Indication'] == 'Indication 15') & (foresland_final_indications['Sub-Indication'] == 'Indication 15')) |
#                  ((foresland_final_indications['Indication'] == 'Indication 19') & (foresland_final_indications['Sub-Indication'] == 'Indication 19')))]

In [58]:
foresland_cleaned_indications = foresland_final_indications.rename(columns={
    'Value_x': 'PatientsDescribed',
    'Value_y': 'YrexPatientsDescribed',
})

In [59]:
final_foresland = foresland_demand_exfactor.merge(on=['Product', 'Country','Date'], right=foresland_cleaned_indications)
final_foresland.head()

,Country,Product,Date,MonthlyTreatment,YrexMonthlyTreatment,Value,Data type,Indication,Sub-Indication,PatientsDescribed,YrexPatientsDescribed
0,Floresland,INNOVIX,2020-08-01,7135.4428,8755.65,3657300,Indication split,Indication 20,Indication 20,0.036738,0.020889
1,Floresland,INNOVIX,2020-08-01,7135.4428,8755.65,3657300,Indication split,Indication 14,Indication 14,0.000000,0.000000
2,Floresland,INNOVIX,2020-08-01,7135.4428,8755.65,3657300,Indication split,Indication 12,Indication 12,0.107965,0.001071
3,Floresland,INNOVIX,2020-08-01,7135.4428,8755.65,3657300,Indication split,Indication 1,Indication 1,0.000000,0.075094
4,Floresland,INNOVIX,2020-08-01,7135.4428,8755.65,3657300,Indication split,Indication 23,Indication 23,0.159120,0.020139

In [60]:
final_foresland.to_csv("final_foresland.csv")